@media only screen and (min-width: 375px) and (max-width: 424px) {
  #section--five {
    position: relative;
    display: block;
    min-width: fit-content;
    right: 0%;
    border-bottom: 0.1px solid royalblue;
    justify-items: center;
    color: rgb(7, 227, 7);
  }
  .hospital--shop {
    background-color: black;
    padding: 0.2rem;
    max-width: 300px;
    min-height: 150px;
    color: white;
    justify-items: center;
    border-radius: 20px;
    border: 2px solid aqua;
    margin: 2px;
  }
  .shop--container {
    display: flex;
  }
}
